body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    margin-right: 15px;
}

.farm-name h1 {
    color: #4CAF50; /* Green color for farm theme */
    font-size: 36px;
    margin: 0;
    font-family: 'Arial', sans-serif;
}